@model prjAspNetMvcDemo.tdCustomer

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form method="post">
    <p>
        <br />
        <input type="hidden" name="fId" value="@Model.fId" />
    </p>
    <p>
        姓名<br />
        <input type="text" name="fName" value="@Model.fName" />
    </p>
    <p>
        電話<br />
        <input type="text" name="fPhone" value="@Model.fPhone" />
    </p>
    <p>
        生日<br />
        <input type="text" name="fBirthday" value="@Model.fBirthday" />
    </p>
    <p>
        密碼<br />
        <input type="text" name="fPassword" value="@Model.fPassword" />
    </p>
    <p>
        地址<br />
        <input type="text" name="fAddress" value="@Model.fAddress" />
    </p>
    <p>
        <input type="submit" value="送出" />
    </p>

    @*<p>
        姓名<br />
        <input type="text" name="txtName" value="@Model.fName" />
    </p>
    <p>
        電話<br />
        <input type="text" name="txtPhone" value="@Model.fPhone" />
    </p>
    <p>
        生日<br />
        <input type="text" name="txtBirthday" value="@Model.fBirthday" />
    </p>
    <p>
        密碼<br />
        <input type="text" name="txtPassword" value="@Model.fPassword" />
    </p>
    <p>
        地址<br />
        <input type="text" name="txtAddress" value="@Model.fAddress" />
    </p>
    <p>
        <input type="submit" value="送出" />
    </p>*@
</form>
