@model IEnumerable<tdCustomer>
@{
    ViewBag.Title = "List";
}

@functions{
    public string setMarks(string password)
    {
        password = "";
        if (password.Length < 3)
            return "****";
        string p1 = password.Substring(0, 1);
        string pLast = password.Substring(password.Length - 1, 1);
        string mark = "";
        for(int i = 1; i <= password.Length - 2; i++)
        {
            mark += "*";
        }
        return p1 + mark + pLast;
    }
}

<h2>客戶資料表</h2>
<p>
    <a href="~/Customer/Save">新增資料</a>
</p>
<p>
    <table border="1" class="table table-hover">
        <tr>
            <th>序號</th>
            <th>編號</th>
            <th>姓名</th>
            <th>電話</th>
            <th>地址</th>
            <th>密碼</th>
            <th>編輯</th>
            <th>刪除</th>
        </tr>

        @{
            int count = 0; //序號
            foreach (tdCustomer t in Model)
            {
                count++;

                <tr>
                    <td>@count.ToString()</td>
                    <td>@t.fId.ToString()</td>
                    <td>@t.fName</td>
                    <td>@t.fPhone</td>
                    <td>@t.fAddress</td>
                    <td>@setMarks(t.fPassword)</td>
                    <td>@Html.ActionLink("編輯", "Edit", "Customer", new { id = t.fId }, new { Class= "btn btn-success"})</td>
                    <td>@Html.ActionLink("刪除", "Delete", "Customer", new { id = t.fId }, new { OnClick = "return confirm('確定要刪除嗎？')" ,Class="btn btn-danger"})</td>
                </tr>
            }
        }
    </table>
</p>

