
@{
    ViewBag.Title = "New";
}

<h2>新增客戶資料</h2>

@*<table border="1">
    <tr>
        <th>序號</th>
        <th>編號</th>
        <th>姓名</th>
        <th>電話</th>
        <th>地址</th>
        <th>密碼</th>
    </tr>


    @{
        int count = 0; //序號
        foreach (tdCustomer t in Model)
        {
            count++;

            <tr>
                <td>@count.ToString()</td>
                <td>@t.fId.ToString()</td>
                <td>@t.fName</td>
                <td>@t.fPhone</td>
                <td>@t.fAddress</td>
                <td>@t.fPassword)</td>
            </tr>
        }
    }
</table>*@

